

#IntroSection {
    margin:20px 35px 20px 20px;
    height: 600px;
    background-color:rgba(255,255,255,.05);
}
#leftIntro {
    justify-content: center;
    align-items: center;
    flex:3;
    flex-direction: column;
}

#rightIntro {
    justify-content: center;
    align-items: center;
    flex:2;
}

#introPhoto {
    border-radius: 360px;
    border: 10px solid black;
    box-shadow: 10px 10px rgba(5,5,5,.75);
    scale:.65;
    transition:1s;
}

#introPhoto:hover {
    scale:.75;
}

#introTitle {
    font-size:75px;
    color:white;
    transition:1s;
}
#introTitle:hover {
    font-size:80px;
}

#leftIntro span p {
    color:white;
    text-align: center;
    width:600px;
    font-size:25px;
    transition: 1s;
}
#leftIntro span p:hover {
    font-size:27px;
}